@media screen and (max-width : 900px) {

    /* nav  */

    /*burber*/
.burger{
    display: flex;
    margin: 10px;
    margin-right: 20px;
    color: aliceblue;
    font-size: 26px;
    height: 30px;
    width: 30px;
}
.heightnav{
    height: 90%;
}
.sidebarnav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 2px;
    left: -900px;
    background-color:#151515fd;
    border-radius: 40px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 100%;
    width: 60%;
    color: #fffff0;
    z-index: 2;
}
.sidebarnavrtpos{
    left: 0px;
}

.oologo{
    position: relative;
    height: 100px;
    width: 100px;
    background-image: url(/Images/surfacerenderlogo.png);
    background-size: cover;
}
.sidebarnav #logo , .sidebarnav #navi{
    margin: 0px;
}



/* navigation  */
nav #navi , #sign , #Login , #cart{
    display: none;
}
.sidebarnav #navi , .sidebarnav #sign , .sidebarnav #Login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    width: 108px;
    height: 12px;
}

/* hero */
.hero div{
    background-size: cover;
    background-position: center center;
}

/* itemrow */
.itemrow{
    flex-direction: column;
    height: 100%;
}
.item{
    width: 98%;
    height: 250px;
}
.item div{
    height: 70%;
    width: 80%;
}

/* assets show */
.assetshow{
    flex-direction: column;
    height: 600px;
}
#show{
    background-size:cover;
    background-position-x: -250px;
    height: 400px;
    width: 400px;
    position: absolute;
    right: 70px;
    z-index: 0;
}
.assetshow #show-text {
    height: 300px;
    width: 80%;
    color: white;
    padding: 30px;
    z-index: 1;
    padding-top: 50px;
    background-color:#1d1d1d57 ;
    border-radius: 20px;
    position: relative;
    left: 50px;
    bottom: -280px;
    z-index: 0;
    
}
.assetshow #show-text h1 {
    width: 20px;
    font-size: 40px;
}
.assetshow #show-text p {
    font-size: 12px;
}
.assetshow #show-text .btn {
    display: block;
    margin: 0px;
    margin-top: 20px;
}

/* footer */
#insidewall{
    flex-direction: column;
}
.details{
    width: 100%;
}
.linkdata{
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.datatable{
    width: 98%;
}
.social{
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.social #terms ul{
    font-size: 10px;
    justify-content: center;
    align-items: center;
}
.social #terms ul li{
    padding: 5px;
}
.socialmedia{
    align-items: center;
}
}